$light: #3c4044;
$input-bg: $light;

$input-focus-border-color: #303440;
$input-border-color: #303440;
$input-color: whitesmoke;
$input-placeholder-color: #ffffff73;
$input-group-addon-bg: #303440;
@import "bootstrap/scss/bootstrap";
@import "./scss/header.scss";
@import "./scss/footer.scss";
@import "./scss/content.scss";
@import "./scss/item.scss";
@import "./scss/user.scss";

body {
	background-color: $dark;
}

.no-select {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
