.header {
  background-color: $light;
  width: 100vw;
}

.t-icon {
  display: inline-block;
  margin-left: 33vw;
  padding: 1vw;
}

.ct-icon {
  padding: 1vw;
  display: inline-block;
  margin-left: 33vw;
}

.howto {
  padding: 1vw;
  display: inline-block;
  margin-left: 5vw;
}
